* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Microsoft Yi Baiti;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1rem;
  background: rgb(8, 133, 128);
  background: linear-gradient(
    210deg,
    rgba(8, 133, 128, 1) 0%,
    rgba(0, 255, 240, 1) 100%
  );
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: white;
  color: black;
}

.main_title {
  color: white;
}
