.meditate_container {
  background: rgba(103, 255, 255, 0.316);
  border-radius: 5%;
  box-shadow: 0.1px 0.2px black;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
}

.meditate_title {
  font-size: 30px;
}

.meditate_header {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 13px;
}

.w3-container w3-green {
  width: 50%;
}

.details_title {
  text-align: center;
}

#sound_icon {
  fill: white;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.done_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  font: inherit;
  font-size: large;
  font-weight: bold;
  border: 2px solid darkgray;
  background-color: white;
  color: #2f4f4f;
  width: 6rem;
  height: 3rem;
  border-radius: 30px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.media_btns {
  fill: black;
}

.img_size {
  height: 200px;
  width: 30px;
}

.media_player {
  margin-top: 10px;
  text-align: center;
}
.sound_div {
  text-align: center;
}

.sound_div #sound_icon {
  margin-top: 5px;
}

.text_sizer {
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.font_box {
  text-align: right;
}
